[package]
name = "dofigen"
version = "0.0.0"
edition = "2021"
license = "MIT"
description = "A Dockerfile generator using a simplified description in YAML or JSON format create"
repository = "https://github.com/lenra-io/dofigen"
keywords = ["dockerfile", "generator", "yaml", "json"]
include = [
    "**/*.rs",
    "Cargo.toml",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "dofigen_lib"
path = "src/lib.rs"

[[bin]]
name = "dofigen"
path = "src/bin/main.rs"
required-features = ["cli"]

[features]
cli = ["clap"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9.34"
thiserror = "1.0.63"
clap = { version = "4.5", features = ["derive"], optional = true }
